<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>www.mycodes.net-模板下载就上源码之家</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/static/blog/style.css" rel="stylesheet" type="text/css" />

{#<script type="text/javascript" src="/static/blog/js/cufon-yui.js"></script>#}
<script type="text/javascript" src="/static/blog/js/arial.js"></script>
<script type="text/javascript" src="/static/blog/js/cuf_run.js"></script>
<!-- CuFon ends -->
</head>
<body>
<div class="main">

  <div class="header">
    <div class="header_resize">
      <div class="logo"><h1><a href="index.html"><small>put我      your slogan here我 </small><span>Name</span>Company</a></h1></div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="index.html"><span><span>首页</span></span></a></li>
          <li><a href="support.html"><span><span>支持</span></span></a></li>
          <li><a href="about.html"><span><span>关于我</span></span></a></li>
          <li><a href="blog.html"><span><span>博客</span></span></a></li>
          <li><a href="contact.html"><span><span>联系我们</span></span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="hbg">&nbsp;</div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
            {% for article in all_article %}
          <h2>{{ article.title }}</h2><div class="clr"></div>
{#          <p>Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>#}
{#          <img src="/static/blog/images/img1.jpg" width="613" height="154" alt="image" />#}
          <p>{{ article.article }} <a href="http://www.mycodes.net/" title="源码之家">admin的个人网站</a>.</p>
          <p class="spec"><a href="/detail/{{ article.id }}" class="rm">阅读详情</a>
{#              &nbsp;|&nbsp; <a href="#" class="com">Comments (3)</a>#}
              &nbsp;|&nbsp; <span class="date">March 16, 2018</span></p>
            {% endfor %}
        </div>
{#        <div class="article">#}
{#          <h2><span>Lorem Ipsum</span> Dolor Sit</h2><div class="clr"></div>#}
{#          <p>Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>#}
{#          <img src="/static/blog/images/img2.jpg" width="613" height="154" alt="image" />#}
{#          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam.</p>#}
{#          <p>Aenean commodo elit ac ante dignissim iaculis sit amet non velit. Donec magna sapien, molestie sit amet faucibus sit amet, fringilla in urna. Aliquam erat volutpat. Fusce a dui est. Sed in volutpat elit. Nam odio tortor, pulvinar non scelerisque in, eleifend nec nunc. Sed pretium, massa sed dictum dapibus, nibh purus posuere magna, ac porta felis lectus ut neque. Nullam sagittis ante vitae velit facilisis lacinia. Cras vehicula lacinia ornare. Duis et cursus risus. Curabitur consectetur justo sit amet odio viverra vel iaculis odio gravida. Ut imperdiet metus nec erat.</p>#}
{#          <p class="spec"><a href="#" class="rm">Read more</a> &nbsp;|&nbsp; <a href="#" class="com">Comments (7)</a> &nbsp;|&nbsp; <span class="date">March 15, 2016</span></p>#}
{#        </div>#}
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span> 侧栏</span>信息</h2><div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">主页</a></li>
            <li><a href="#">模板信息</a></li>
            <li><a href="#">类型</a></li>
            <li><a href="#">博客</a></li>
            <li><a href="#">文章</a></li>
            <li><a href="#" title="Website Templates">Web 模板</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>赞助商信息</span></h2><div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#" title="Website Templates">DreamTemplate</a><br />Over 6,000+ Premium Web Templates</li>
            <li><a href="#">TemplateSOLD</a><br />Premium WordPress &amp; Joomla Themes</li>
            <li><a href="#" title="Affordable Hosting">ImHosted.com</a><br />Affordable Web Hosting Provider</li>
            <li><a href="#" title="Stock Icons">MyVectorStore</a><br />Royalty Free Stock Icons</li>
            <li><a href="#" title="Website Builder">Evrsoft</a><br />Website Builder Software &amp; Tools</li>
            <li><a href="#" title="CSS Templates">CSS Hub</a><br />Premium CSS Templates</li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>About</span></h2>
        <img src="/static/blog/images/white.jpg" width="56" height="56" alt="pix" />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum. <a href="#">Learn more...</a></p>
      </div>
      <div class="col c2">
        <h2><span>Lorem Ipsum</span></h2>
        <ul class="sb_menu">
          <li><a href="#">consequat molestie</a></li>
          <li><a href="#">sem justo</a></li>
          <li><a href="#">semper</a></li>
          <li><a href="#">magna sed purus</a></li>
          <li><a href="#">tincidunt</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2>Contact</h2>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</p>
        <p><a href="mailto:support@yoursite.com">support@yoursite.com</a></p>
        <p>+1 (123) 444-5677<br />+1 (123) 444-5678</p>
        <p>Address: 123 TemplateAccess Rd1</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">(c) Copyright <a href="#">MyWebSite</a>. <a href="http://www.mycodes.net/" title="网站模板" target="_blank">网站模板</a></p>
      <ul class="fmenu">
        <li><a href="index.html">Home</a></li>
        <li><a href="support.html">Support</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About Us</a></li>
        <li class="active"><a href="{{ url_for('login') }}">管理员登录</a></li>
      </ul>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>